@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #3DDABE;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  position: relative;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 1.75;
  text-transform: uppercase;
  color: #333333;
}

.title::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 4px;
  bottom: -10px;
  left: 46%;
  background: #3DDABE;
}

.title-left::after {
  content: "";
  left: 1%;
}

.title span {
  color: #3DDABE;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 151.5%;
  color: #828282;
}

.btn {
  display: block;
  width: 168px;
  height: 60px;
  padding: 18px 0;
  background: #3DDABE;
  -webkit-box-shadow: 0px 20px 20px -12px rgba(61, 218, 190, 0.4);
          box-shadow: 0px 20px 20px -12px rgba(61, 218, 190, 0.4);
  border-radius: 92px;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 16px;
  line-height: 151.5%;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background: #213C37;
  cursor: pointer;
}

.btn-clean {
  color: #3DDABE;
  font-family: "Poppins";
  background: #fff;
  border: 1px solid #3DDABE;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-clean:hover {
  background: #3DDABE;
  cursor: pointer;
  color: #fff;
}

.btn-noborder {
  color: #BDBDBD;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-noborder:hover {
  background: none;
  color: #3DDABE;
}

.text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 138.5%;
  color: #828282;
}

.no-webp .header{
  background: url("../img/background/Mask Group.png") 102.5% 100% no-repeat, url("../img/background/Vector 1.png") 100% no-repeat; }

.header {
  min-height: 56.25rem;
}

.header__logo {
  margin-top: 1.25rem;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.5;
  /* identical to box height */
  text-transform: uppercase;
  color: #828282;
}

.distr-header {
  margin-top: 1.25rem;
  max-width: 31.25rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
          box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
  border-radius: 40px;
  padding: 3.125rem 2.5rem;
}

.distr-header__title {
  font-size: 2.875rem;
  line-height: 1.3695652174;
}

.distr-header__text {
  margin-top: 1.875rem;
}

.distr-header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.75rem;
}

.footer {
  background: #213C37;
  height: 100px;
  width: 100%;
  margin-top: 3.125rem;
}

.work {
  -webkit-box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
  padding: 3.125rem 0;
  position: relative;
  z-index: 10;
}

.work__title {
  margin: 0px auto;
  text-align: center;
}

.work__items {
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.work__item img {
  max-width: 17.4375rem;
  height: 100%;
  border-radius: 30px;
  -o-object-fit: fill;
     object-fit: fill;
}

.work__btn {
  margin: 0px auto;
  margin-top: 3.125rem;
}

.info-work {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.info-work__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 138%;
  text-transform: uppercase;
  color: #E0E0E0;
  position: relative;
  margin: 0px auto;
}

.info-work__header::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 3.125rem;
  top: 0;
  right: -10px;
  background: #3DDABE;
}

.aboutus {
  padding: 3.125rem 0;
  position: relative;
}

.aboutus__title {
  margin: 0px auto;
  text-align: center;
}

.aboutus__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.125rem;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

.aboutus__content {
  margin-left: 2.5rem;
  max-width: 34.375rem;
}

.aboutus__btn {
  margin-top: 3.125rem;
}

.aboutus__img img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  -o-object-fit: fill;
     object-fit: fill;
}

.services {
  padding: 3.125rem 0;
  -webkit-box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
}

.services__title {
  margin: 0px auto;
  text-align: center;
}

.services__cards {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3.125rem;
}

.services__btn {
  display: block;
  margin: 0px auto;
  margin-top: 3.125rem;
}

.card-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 13.6875rem;
  min-height: auto;
}

.card-services__img {
  background: #3DDABE;
  border-radius: 50%;
  width: 4.1875rem;
  height: 4.1875rem;
  padding: 0.9375rem;
}

.card-services__header {
  margin-top: 1.1875rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 138%;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.card-services__distription {
  margin-top: 0.75rem;
  text-align: center;
}

.testimonials {
  padding: 3.125rem 0;
}

.testimonials__title {
  text-align: center;
}

.testimonials__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.testimonials__card {
  padding: 1.875rem;
  max-width: 22.9375rem;
  -webkit-box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.2);
  border-radius: 30px;
}

.card-testimonials__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 138%;
  color: #333333;
}

.card-testimonials__history {
  margin-top: 0.75rem;
}

.card-testimonials__stars {
  margin-top: 0.75rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F2F2F2;
  border-radius: 30px;
  min-height: 29.125rem;
  padding: 0 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__map {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 5;
}

.contact__map iframe {
  position: absolute;
  width: 100%;
  z-index: 4;
  border-radius: 30px 0px 0px 30px;
  max-width: 31.25rem;
  height: 100%;
}

.contact__content {
  padding: 3.125rem 1.875rem 1.875rem 1.875rem;
}

.contact__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.contact__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.3125rem;
}

.forms {
  margin-top: 1.625rem;
}

.forms__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.forms__form input {
  max-width: 20rem;
  min-height: 3rem;
  background: #fff;
  border-radius: 10px;
  padding-left: 1.125rem;
}

.forms__sabmit {
  margin-top: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms__btn {
  max-width: 7.9375rem;
  font-weight: 600;
  font-size: 14px;
}

.forms__thanks {
  max-width: 10.1875rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 138.5%;
  color: #2A796B;
}

.forms__line {
  width: 4px;
  height: auto;
  background: #E0E0E0;
  border-radius: 10px;
}

.adress {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #4F4F4F;
  padding-left: 2rem;
  max-width: 14.5625rem;
}

.adress__mail {
  position: relative;
}

.adress__mail::before {
  position: absolute;
  content: url("../img/icon-contact/mail.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 0;
  left: -32px;
}

.adress__phone {
  position: relative;
}

.adress__phone::before {
  position: absolute;
  content: url("../img/icon-contact/round-call.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 0;
  left: -32px;
}

.adress__map {
  position: relative;
}

.adress__map::before {
  position: absolute;
  content: url("../img/icon-contact/location-on.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 0;
  left: -32px;
}

@media (min-width: 73.125em) {
  .title {
    font-size: 2.25rem;
  }

  .distr-header__title {
    font-size: 2.875rem;
  }

  .services__cards {
    -webkit-column-gap: 4.25rem;
       -moz-column-gap: 4.25rem;
            column-gap: 4.25rem;
  }

  .forms__sabmit {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.25rem;
  }

  .distr-header__title {
    font-size: 2rem;
  }

  .services__cards {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }

  .forms__sabmit {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }
}

@media (max-width: 61.99875em) {
  .aboutus__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }

  .testimonials__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .info-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .contact__map {
    display: none;
  }
}

@media (max-width: 31.25em) {
  .distr-header__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 1.25rem , 0.8735294118rem  +  1.8823529412vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.25rem , 0.8735294118rem  +  1.8823529412vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8735294118rem  +  1.8823529412vw , 2.25rem )) {
    .title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 2rem , 1.6705882353rem  +  1.6470588235vw , 2.875rem )) {
    .distr-header__title {
      font-size: clamp( 2rem , 1.6705882353rem  +  1.6470588235vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6705882353rem  +  1.6470588235vw , 2.875rem )) {
    .distr-header__title {
      font-size: calc(2rem + 0.875 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -1.1698529412rem  +  7.4117647059vw , 4.25rem )) or (column-gap: clamp( 0.3125rem , -1.1698529412rem  +  7.4117647059vw , 4.25rem ))) {
    .services__cards {
      -webkit-column-gap: clamp( 0.3125rem , -1.1698529412rem  +  7.4117647059vw , 4.25rem );
         -moz-column-gap: clamp( 0.3125rem , -1.1698529412rem  +  7.4117647059vw , 4.25rem );
              column-gap: clamp( 0.3125rem , -1.1698529412rem  +  7.4117647059vw , 4.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -1.1698529412rem  +  7.4117647059vw , 4.25rem )) or (column-gap: clamp( 0.3125rem , -1.1698529412rem  +  7.4117647059vw , 4.25rem ))) {
    .services__cards {
      -webkit-column-gap: calc(0.3125rem + 3.9375 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.3125rem + 3.9375 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.3125rem + 3.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.2757352941rem  +  2.9411764706vw , 1.875rem )) or (column-gap: clamp( 0.3125rem , -0.2757352941rem  +  2.9411764706vw , 1.875rem ))) {
    .forms__sabmit {
      -webkit-column-gap: clamp( 0.3125rem , -0.2757352941rem  +  2.9411764706vw , 1.875rem );
         -moz-column-gap: clamp( 0.3125rem , -0.2757352941rem  +  2.9411764706vw , 1.875rem );
              column-gap: clamp( 0.3125rem , -0.2757352941rem  +  2.9411764706vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.2757352941rem  +  2.9411764706vw , 1.875rem )) or (column-gap: clamp( 0.3125rem , -0.2757352941rem  +  2.9411764706vw , 1.875rem ))) {
    .forms__sabmit {
      -webkit-column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}
}

.webp .header{ background: url("../img/background/Mask Group.png") 102.5% 100% no-repeat, url("../img/background/Vector 1.png") 100% no-repeat; }